*.pyc
*.pyo
lib/*.pyc
lib/*.pyo
.idea
bCNC.egg-info
.eggs
dist
build
release

*.code-workspace
.vscode/

flatpak/builddir
flatpak/.flatpak-builder

.coverage*
htmlcov/
coverage.xml
coverage.json

.venv/
*.ses
artifacts/
docs/design/**/*.png
docs/design/**/*.json
docs/design/**/*.html
