[Desktop Entry]
Version=1.0
Type=Application
Categories=Science;Electronics;Engineering
Name=Foil Studio Classic
Comment=Design, prepare and cut foil and vinyl
Exec=foil-studio
Icon=foil-studio
Keywords=Foil;Vinyl;Plotter;CNC;
